<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/user/create}" th:text="Create"></a>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>numberPhone</th>
            <th>email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userList}">
            <td th:text="${user.getId()}">${d}</td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getNumberPhone()}"></td>
            <td th:text="${user.getEmail()}"></td>
<!--            <td ><a th:href="@{/student/edit/{id}(id=${student.id})}">edit</a></td>-->
<!--            <td ><a th:href="@{/student/delete/{id}(id=${student.id})}">delete</a></td>-->
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/user'(page=${userList.number - 1})}" th:if="${userList.hasPrevious()}">Previous</a>
        <span th:text="${userList.number + 1}"></span>/<span th:text="${userList.totalPages}"></span>
        <a th:href="@{'/user'(page=${userList.number + 1})}" th:if="${userList.hasNext()}">Next</a>
    </div>
</div>

</body>
</html>