<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/list::css}">
    <title>Title</title>
</head>
<body>
<!--end menu-->
<div >
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/create}" method="post" th:object="${product}">
                <div class="modal-header">
                    <h4 class="neon" style="margin: 0">Add New product</h4>
                    <a href="/home"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>name:</label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <div><p style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></div>
                    </div>
                    <div class="form-group">
                        <label>price :</label>
                        <input type="text" class="form-control" th:field="*{price}">
                    </div>
                    <div class="form-group">
                        <label>status : </label>
                        <input class="form-control"  type="text" th:field="*{status}" >
                    </div>
                    <div class="form-group">
                        <label> product type: </label>
                        <select class="col-8 form-control" th:field="*{productType}" >
                            <option th:each="type: ${listProductType}"  th:value="${type.id}" th:text="${type.nameProduct}"></option>
                        </select>
                        <!--                        <div><p style="color:red;" th:if="${#fields.hasErrors('IdCard')}" th:errors="*{IdCard}"></p></div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/home"><input type="button" class="cancel" data-dismiss="modal" value="Cancel"></a>
                    <input type="submit" class="add" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>