<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/home::css}">
    <title>Title</title>
</head>
<body>
<!--end menu-->
<div >
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/contract/create}" method="post" th:object="${contract}">
                <div class="modal-header">
                    <h4 class="neon" style="margin: 0">Add New Contract</h4>
                    <a href="/contract"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Start day:</label>
                        <input type="text" class="form-control" th:field="*{start_date}">
<!--                        <div><p style="color:red;" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p></div>-->
                    </div>
                    <div class="form-group">
                        <label>End day :</label>
                        <input type="date" class="form-control" th:field="*{end_date}">
                    </div>
                    <div class="form-group">
                        <label>Deposit : </label>
                        <input class="form-control"  type="text" th:field="*{deposit}" >
                    </div>
                    <div class="form-group">
                        <label>Total money : </label>
                        <input type="text" class="form-control" th:field="*{totalMoney}" >
<!--                        <div><p style="color:red;" th:if="${#fields.hasErrors('IdCard')}" th:errors="*{IdCard}"></p></div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/contract"><input type="button" class="cancel" data-dismiss="modal" value="Cancel"></a>
                    <input type="submit" class="add" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>